.content1 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/compositions/photo_1_2023-07-18_00-22-38.jpg');
}
.content2 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/compositions/photo_2_2023-07-18_00-22-38.jpg');
}
.content3 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/compositions/photo_3_2023-07-18_00-22-38.jpg');
}
.content4 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/compositions/photo_4_2023-07-18_00-22-38.jpg');
}
.content5 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/compositions/photo_5_2023-07-18_00-22-38.jpg');
}
.content6 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/compositions/photo_6_2023-07-18_00-22-38.jpg');
}
.content7 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/compositions/photo_7_2023-07-18_00-22-38.jpg');
}
.content8 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/compositions/photo_8_2023-07-18_00-22-38.jpg');
}
.content9 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/compositions/photo_9_2023-07-18_00-22-38.jpg');
}
.content10 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/compositions/photo_10_2023-07-18_00-22-38.jpg');
}
.content11 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/compositions/photo_11_2023-07-18_00-22-38.jpg');
}
.content12 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/compositions/photo_12_2023-07-18_00-22-38.jpg');
}
.content13 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/compositions/photo_13_2023-07-18_00-22-38.jpg');
}
.content14 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/compositions/photo_14_2023-07-18_00-22-38.jpg');
}
.content15 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/compositions/photo_15_2023-07-18_00-22-38.jpg');
}
.content16 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/compositions/photo_16_2023-07-18_00-22-38.jpg');
}
