.content1 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/events/INтонации/photo_1_2023-07-18_02-41-37.jpg');
}
.content2 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/events/INтонации/photo_2_2023-07-18_02-41-37.jpg');
}
.content3 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/events/INтонации/photo_3_2023-07-18_02-41-37.jpg');
}
.content4 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/events/INтонации/73uooQCJDSo.jpg');
}
.content5 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/events/INтонации/7qi1v0i49aM.jpg');
}
.content6 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/events/INтонации/adWbdztDhSs.jpg');
}
.content7 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/events/INтонации/KNy2e2CHqAo.jpg');
}
.content8 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/events/INтонации/CSTTIcSTiao.jpg');
}
.content9 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/events/INтонации/t5XwMSTIBMQ.jpg');
}
.content10 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/events/INтонации/Y6xxxiIKld4.jpg');
}
.content11 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/events/INтонации/zbkLAzVjjjQ.jpg');
}
.content12 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/events/other/photo_1_2023-07-18_02-41-46.jpg');
}
.content13 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/events/other/photo_2_2023-07-18_02-41-46.jpg');
}
.content14 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/events/other/photo_3_2023-07-18_02-41-46.jpg');
}