.content1 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/food-floristry/photo_1_2023-07-18_00-20-52.jpg');
}
.content2 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/food-floristry/photo_2_2023-07-18_00-20-52.jpg');
}
.content3 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/food-floristry/photo_3_2023-07-18_00-20-52.jpg');
}
.content4 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/food-floristry/photo_4_2023-07-18_00-20-52.jpg');
}
.content5 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/food-floristry/photo_5_2023-07-18_00-20-52.jpg');
}
.content6 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/food-floristry/photo_6_2023-07-18_00-20-52.jpg');
}
.content7 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/food-floristry/photo_7_2023-07-18_00-20-52.jpg');
}
.content8 {
    content: '';
    width: 100%;
    min-width: 220px;
    max-width: 40vw;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/food-floristry/photo_8_2023-07-18_00-20-52.jpg');
}